mixin breadcrumbs(items)
	+b.breadcrumbs&attributes(attributes)
		block breadcrumbs
			.container
				ul.breadcrumbs__list
					each item in items
						li.breadcrumbs__item
							a.breadcrumbs__link(href=item[1])= item[0]
