.title
	display block
	font-weight: 900
	font-size: 35px
	letter-spacing: 1px
	margin-bottom: 1em
	color: black_brand
	&--white
		color: white
	&--uppercase
		font-size: 18px
		font-weight: 900
		color: black_brand
		text-transform: uppercase
	&--sm
		font-size: 22px
		font-weight: 700
		color: black_brand
		letter-spacing: .55px