.title
	display block
	font-weight: 900
	font-size: 35px
	letter-spacing: 1px
	margin-bottom: 1em
	color: black_brand
	&--uppercase
		font-size: 18px
		font-weight: 900
		color: black_brand
		text-transform: uppercase
	&--white
		color: white
	&--modal
		font-size: 25px
		font-weight: 700
		color: black_brand
		letter-spacing: .55px
		text-transform: uppercase
		margin-bottom: 0
	&--sm
		font-size: 22px
		font-weight: 700
		color: black_brand
		letter-spacing: .55px
	&--mt30px
		margin-top: 30px