include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../header/header
include ../footer/footer
include ../scripts/scripts
include ../modal/modal

doctype html
html(lang='ru')
	include ../head/head
	+page
		block header
			+header
		block content
		+footer
		+modal
		+scripts(['app.min.js', 'jquery.nanogallery2.min.js'])
