extends /blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section/section

block head
	- var pageTitle = 'О ферме | Юхнов-Крол';

block content
	+breadcrumbs(['Главная', 'О ферме'])
	+section.section--pb50px
		.container
			nav.tabs
				a.tabs__tab.active(href="#about") О ферме
				a.tabs__tab(href="#photo") Фотогалерея
				a.tabs__tab(href="#sertificate") Сертификаты
			.content
				p «Юхнов-Крол» – высокотехнологичный агропромышленный комплекс полного цикла, в работе которого задействованы европейские высокие технологии и итальянское оборудование для промышленного кролиководства производителя Meneghin – лидера в сфере проектирования и строительства автоматизированных систем для кроликоферм.
				span.title.title--uppercase Производственный цикл нашего предприятия включает следующие компоненты:
				ul.cycle
					li.cycle__item
						.cycle__icon.barn
						.cycle__img
							img(src="/assets/images/about/about1.jpg", alt="Промышленные крольчатники")
						.cycle__text
							h3.title.title--sm 1. Промышленные крольчатники
							p Наши кролики выращиваются в специально оборудованных зданиях-крольчатниках, в которых на протяжении 24 часов в сутки поддерживается оптимальный микроклимат. Постаравшись свести человеческий фактор к минимуму, мы полностью автоматизировали основные процессы: в помещении установлены автоматизированные «умные» системы кормления, поения и навозоудаления известного бренда Meneghin.
					li.cycle__item
						.cycle__icon.lab
						.cycle__img
							img(src="/assets/images/about/about2.jpg", alt="Репродуктивная лаборатория")
						.cycle__text
							h3.title.title--sm 2. Репродуктивная лаборатория
							p На нашем предприятии мы разводим мясных бройлерных кроликов Хиплус французской генетики, максимально адаптированных к интенсивному выращиванию на промышленных кроликофермах. В настоящее время «Юхнов-Крол» имеет в своём распоряжении около 1 тысячи кроликоматок, оплодотворяемых искусственным методом. В лаборатории искусственного осеменения поддерживаются строгие санитарные условия. Репродуктор оснащён лучшим европейским оборудованием.
					li.cycle__item
						.cycle__icon.rabbit
						.cycle__img
							img(src="/assets/images/about/about3.jpg", alt="Поголовье")
						.cycle__text
							h3.title.title--sm 3. Поголовье
							p Как уже было сказано, наше поголовье представлено кроликами европейской (французской) породы Хиплус, называемой экспертами одной из лучших в современном мясном кролиководстве. Адаптированные к искусственному осеменению кролики Хиплус набирают до 55 граммов в сутки и достигают полной половой зрелости за 4 месяца.
					li.cycle__item
						.cycle__icon.cleaver
						.cycle__img
							img(src="/assets/images/about/about4.jpg", alt="Убойный пункт")
						.cycle__text
							h3.title.title--sm 4. Убойный пункт
							p В рамках проекта, реализуемого при поддержке Министерства сельского хозяйства Калужской области, нами был построен и введён в эксплуатацию первый в нашем регионе промышленный пункт убоя кроликов высокой производительности (до 500 голов в смену). Мы используем уникальную технологию «Гуманный убой», предусматривающую применение системы электрического оглушения. Убойный пункт кроликофермы «Юхнов-Крол» успешно прошёл сертификацию Ветеринарного комитета Калужской области.
							p Процесс разделки кроликов осуществляется с применением передовых технологий, а замораживание мяса без использования хлора заметно улучшает его вкусовые характеристики. 
					li.cycle__item
						.cycle__icon.leg
						.cycle__img
							img(src="/assets/images/about/about5.jpg", alt="Цех переработки мяса")
						.cycle__text
							h3.title.title--sm 5. Цех переработки мяса
							p Новейшее оборудование и использование высоких технологий позволяет перерабатывать и упаковывать свежее мясо кролика с минимальными временными затратами, что существенно сокращает срок поставки охлаждённой и замороженной продукции на прилавки наших многочисленных заказчиков. 
							p В процессе переработки используется строгий ветеринарный контроль, гарантирующий 100% качество всех изготовленных на нашем предприятии мясных продуктов. В результате мы получаем исключительно вкусное мясо, которое поставляем заказчикам равномерными партиями на протяжении круглого года.
					li.cycle__item
						.cycle__icon.wheat
						.cycle__img
							img(src="/assets/images/about/about6.jpg", alt="Обеспечение кормами")
						.cycle__text
							h3.title.title--sm 6. Обеспечение кормами
							p В распоряжении предприятия «Юхнов-Крол» имеются 120 гектаров земли, на которой выращивается экологически чистое сырьё, используемое в дальнейшем для заготовки комбинированных кормов высокого качества, идеально подходящих для кроликов европейских мясных пород. Также мы располагаем всей необходимой сельскохозяйственной техникой. 
							p В планах – строительство собственного высокотехнологичного кормоцеха мощностью до 40 тонн комбикормов ежемесячно. Кроме того, в будущем наше предприятие планирует выращивать и реализовать до 55 тысяч голов товарных кроликов в год.
					li.cycle__item
						.cycle__icon.car
						.cycle__img
							img(src="/assets/images/about/about7.jpg", alt="Доставка")
						.cycle__text
							h3.title.title--sm 7. Доставка
							p Продукция фермерского хозяйства доставляется собственным корпоративным транспортом. Автомобили специально предназначены для транспортировки мяса и позволяют перевозить охлажденную продукцию без потери качества. 
							p Налаженная система логистики обеспечивает бесперебойную поставку мяса в торговые сети и точки продаж продукции агрофермы.