extends /blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section/section

block head
	- var pageTitle = 'Племенное поголовье | Юхнов-Крол';

block content
	+breadcrumbs(['Главная', 'Племенное поголовье'])
	+section.section--pb50px
		.container
			p Основное направление нашей деятельности ‒ продажа полезного мяса кроликов высокого качества, а также выращивание чистопородных кроликов.
			p На нашей кролиководческой ферме разводятся племянные породы кроликов, среди которых:французский Хиплус, Калифорнийские кролики, Советская шиншила и др.
			p Вы можете купить у нас чистопородных крольчат для разведения, а также мясо кроликов. Цена и условия продажи зависит от количества и расстояния до места доставки.

			h2.title.title--mt30px Наши породы
			.breed--wrapper
				a.breed__item(href="#california")
					.breed__img
						.breed__bg
						img.california(src="/assets/images/main/california_breed.png", alt="Калифорнийский кролик")
					.breed__text Калифорнийский<br>кролик
				a.breed__item(href="#shinshila" data-link="modal")
					.breed__img
						.breed__bg
						img.shinshila(src="/assets/images/main/shinshila_breed.png", alt="Советская шиншила")
					.breed__text Советская<br>шиншила
				a.breed__item(href="#hyplus")
					.breed__img
						.breed__bg
						img.hyplus(src="/assets/images/main/hyplus_breed.png", alt="Французский Хиплюс")
					.breed__text Французский<br>Хиплюс

	.modal
		#shinshila.modal--wrapper.modal--breed
			.modal__dialog
				button.close
				.modal__header
					h2.title.title--modal Порода «Советская шиншила»
				.modal__scroll
					.modal__content
						.single-item
							img(src="/assets/images/breed/shinshila.jpg")
							img(src="/assets/images/breed/shinshila.jpg")
							img(src="/assets/images/breed/shinshila.jpg")
						p Порода кроликов Советская шиншилла была выведена путем долгого и кропотливого скрещивания более мелкой Шиншиллы и Белого великана. В результате получилась скороспелая порода с повышенной массой и красивым мехом, который используют как имитацию натуральной шиншиллы при пошиве верхней одежды. Кролики хорошо переносят климатические условия России и приспособлены к разведению на ее территории.
						p Советская шиншилла имеет густой и мягкий неоднородный серо-голубой мех с белыми вкраплениями на брюшке, лапках и впадинах вокруг глаз. Тушка сбитая и мускулистая с широко развитой грудью. Голова небольших размеров с пропорциональными стоячими ушками.
						p Тело в длину достигает около 60 – 70 см. Период роста 5–6 месяцев. Средний вес взрослой особи 5 – 7 кг. После забоя содержание мяса в общем весе составляет 60%.
						p Кролики не сильно прихотливы к содержанию и для прироста одного килограмма веса потребляют около четырех килограмм концентрированных кормов. Массу набирают быстро, к возрасту 3 – 4 месяца Советская шиншилла уже весит более 3 килограмм.
						p Крольчихи плодовиты, окрол обычно происходит без особых хлопот, а потомство отличается достаточно высокой выживаемостью.