extends /blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section/section

block head
	- var pageTitle = 'Фотогалерея | Юхнов-Крол';

block content
	+breadcrumbs([['Главная', '/'], ['О ферме', '/about.html'], ['Фотогалерея', '/photo.html']])
	+section.section--pb50px
		.container
			//- nav.tabs
			//- 	a.tabs__tab(href="/about.html") О ферме
			//- 	a.tabs__tab.active(href="/photo.html") Фотогалерея
				//- a.tabs__tab(href="#sertificate") Сертификаты
			.content
				- var n = 1;
				.nano2
					while n < 134
						a(href="/assets/images/photo/Image"+ n++ +".jpg" data-ngthumb="/assets/images/photo/Image"+ n++ +".jpg" data-ngdesc="")