extends /blocks/layout-default/layout-default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section/section

block head
	- var pageTitle = 'О пользе мяса кролика | Юхнов-Крол';

block content
	+breadcrumbs([['Главная', '/'], ['Мясо кролика', '/products.html'], ['О пользе мяса кролика', '/pros.html']])
	+section.section--pb50px
		.container
			//- nav.tabs
				//- a.tabs__tab(href="/products.html") Продукция
				//- a.tabs__tab(href="#photo") Где купить мясо кролика
				//- a.tabs__tab.active(href="/pros.html") О пользе мяса кролика
				//- a.tabs__tab(href="#reciepts") Рецепты
			.content
				p Мясо кролика – необычайно ценный диетический продукт, богатый не только белком, но и большим количеством витаминов и микроэлементов. При этом диетологи рекомендуют выбирать крольчатину, полученную от так называемых мясных пород, поскольку именно она считается наиболее качественной и предпочтительной для приготовления различных блюд.
				img(src="/assets/images/photo/Image123.jpg", alt="" style="width: auto; max-width: 100%; height: 200px; float: left; margin-right: 25px; margin-top: 15px; margin-bottom: 10px;")
				h2.title.title--uppercase.title--mt30px Мясо кролика: польза для взрослых и детей
				p Польза мяса кролика неоспорима, ведь речь идёт о продукте, содержащем витамины А, С, Е, РР, а также ценнейшие витамины группы В, без которых невозможна нормальная жизнедеятельность человеческого организма (включая цианокобаламин В12, содержащийся исключительно в пище животного происхождения). В свою очередь, список микроэлементов включает железо, фосфор, калий, марганец, фтор и другие необходимые каждому человеку минералы.
				p Что касается белков, то их содержание в мясе кролика выше, чем в курином филе, свинине и телятине. А вот жиров в крольчатине вдвое меньше, чем в свинине, содержание холестерина и солей натрия здесь также существенно ниже. Это делает такие мясные продукты не только вкусными и полезными, но и диетически ценными. Важно и то, что кроличье мясо имеет гладковолокнистую структуру. Минимальное количество жира содержится в мясе молодых кроликов: на каждые 100 г продукта приходится порядка 11 г жиров, причём, примерно половина из них – ненасыщенные жирные кислоты.
				p Регулярное употребление в пищу блюд из мяса кролика – прекрасный способ расстаться с лишними килограммами.  Калорийность мяса кролика составляет всего 183 кКал на 100 грамм продукта. Что касается углеводов, то их здесь просто нет.
				div(style="clear: both")
				img(src="/assets/images/photo/Image80.jpg", alt="" style="width: auto; max-width: 100%; height: 250px; float: right; margin-left: 25px; margin-top: 35px; margin-bottom: 10px;")
				h2.title.title--uppercase.title--mt30px Кому рекомендовано
				p Крольчатина – один из главных продуктов, входящих в состав многих лечебно-профилактических диет. Так, блюда из крольчатины, которые при условии правильного приготовления очень легко перевариваются и усваиваются, рекомендованы при нарушениях работы ЖКТ (в частности при снижении секреторной функции желудка и поджелудочной железы, гастритах, дуоденитах, панкреатитах).
				p Как уже было сказано, польза для организма мяса кролика заключается и в том, что оно играет роль природного источника витамина В12 – цианокобаламина, дефицит которого способен спровоцировать серьёзные расстройства нервной системы и нарушить процесс кроветворения. В 100 г крольчатины содержится суточная доза цианокобаламина, и поэтому её регулярное употребление крайне рекомендовано людям, страдающим В12-дефицитной и железодефицитной анемией.
				p Помимо этого, мясо кролика часто включают в рацион пациентов, восстанавливающихся после тяжёлых хирургических операций и больных онкологическими заболеваниями (в том числе в период прохождения радиолучевой и химиотерапии). Минимальное содержание холестерина делает такой продукт практически идеальным для пожилых людей, диабетиков, а также людей с избыточной массой тела и/или патологиями сердечно-сосудистой системы.

				div(style="clear: both")
				img(src="/assets/images/photo/Image130.jpg", alt="" style="width: auto; max-width: 100%; height: 200px; float: left; margin-right: 25px; margin-top: 20px; margin-bottom: 25px;")
				h2.title.title--uppercase.title--mt30px Мясо кролика в питании детей грудного возраста
				p Не меньшую ценность диетическая крольчатина имеет и для маленьких детей. Пюре из кроличьего мяса называют лучшим выбором в качестве первого мясного прикорма для малышей грудного возраста, а подавляющее большинство педиатров настоятельно рекомендуют родителям начинать прикорм грудничков именно с этого продукта.
				p Польза мяса кролика для детей заключается всё в том же большом количестве полезных веществ и аминокислот. Кроме того, регулярное употребление в пищу пюре из кроличьего мяса, которое прекрасно усваивается даже неразвитым детским желудком, способствует правильному развитию костей, зубов и ногтей. Вводить в детский рацион диетическую крольчатину можно, уже начиная с 6-8 месяцев.