.tabs
	display flex
	flex-flow: row wrap
	border-bottom: 2px solid green_brand_light
	&__tab
		display: flex
		justify-content center
		align-items: center
		width: 215px
		height: 60px
		margin-bottom: 0
		vertical-align: middle
		text-align: center
		background-color: grey_brand_light
		color: grey_brand
		font-size: 20px
		font-weight: 500
		text-decoration: none
		border-top-left-radius: 3px
		border-top-right-radius: 3px
		&:not(:first-child)
			margin-left: 24px
		&:hover,
		&.active
			background-color: green_brand_light
			color: white
@media (max-width: 1000px)
	.tabs
		flex-direction: column
		margin: -12px	
		&__tab
			width: auto
			margin: 12px
			&:not(:first-child)
				margin-left: 12px