.profit
	display block
	&--wrapper
		margin-top: 50px
		display: flex
		flex-flow: row wrap
		justify-content space-between
		align-items: flex-start
		margin: -25px
	&__item
		display: flex
		flex-direction: column
		justify-content center
		align-items: center
		margin: 25px
	&__icon
		margin-bottom: 20px
	&__text
		font-size: 22px
		font-weight: 700
		text-align: center
		color: white
@media (max-width: 800px)
	.profit--wrapper
		justify-content space-around